body {
    background-color: rgb(216, 184, 212);
}

h1 {
    color: white;
    text-align: center;
    font-family: "Asset";
}

h2 {
    color: white;
}

table {
    border-collapse: collapse; 
    border: 2px solid white;
    width: 70%; 
    margin-left: auto; 
    margin-right: auto;
    color: white;
}

th {
    font-weight: bold;
}

.deb {
   padding: 10px; 
   background-color: rgb(178, 135, 218);
   border: 1px solid white;
}

tr
td {
    border: 1px solid ;
    color: white;
}

footer, p {
    text-transform: uppercase;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    font-weight: thin;
    text-align: center;
    background-color: rgb(178, 135, 218);
    padding: 10px;
}

.hihi {
    background-color: rgb(200, 157, 196);
}

img {
    width:30px;
    position: absolute;
    right: 60px;
    bottom:25px;
    transform: rotate(53deg);
}

.star {
    width:30px;
    position: absolute;
    left: 60px;
    bottom: 2px;
    transform: rotate(27deg);
}

.first {
    width:60px;
    position: absolute;
    right: 60px;
    top: 50px;
    transform: rotate(35deg);
}